@import url("https://fonts.googleapis.com/css2?family=Allura&family=Inter:wght@100..900&display=swap");
/* shared styles */

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-miama {
  font-family: "Miama", sans-serif;
  font-style: italic;
  font-weight: 400px;
}
* {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}
body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: black;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.section-title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;
}
.section-subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
}
.btn-primary {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 16px 40px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border: none;
}
/* shared styles ends here*/

/* nav styles starts here */
nav {
  max-width: 1044px;
  display: flex;
  margin: 50px auto;
  justify-content: space-between;
  align-items: center;
}
.brand {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 39px;
  padding: 4px;
}
.active {
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 8px;
}
.nav-link {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  margin: 0px 10px;
  background-color: transparent;
}
.nav-hamburger {
  color: rgb(255, 255, 255);
  display: none;
}
/* nav styles ends here */

/* banner styles starts here */
.banner {
  max-width: 1044px;
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  width: 50%;
}
.banner-title {
  color: rgb(255, 255, 255);
  font-size: 78px;
  font-weight: 900;
  margin-bottom: 28px;
  line-height: 94px;
}
.banner-subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 28px;
}
.banner-img {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: right;
}
.banner-img img {
  max-width: 80%;
}
.workout-content {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  position: absolute;
  top: 20%;
  bottom: 62%;
  left: 75%;
}
.workout-title {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 900;
}
.workout-subtitle {
  color: rgba(255, 255, 255, 0.65);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}
.video-content {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 40px 20px;
  width: max-content;
  position: absolute;
  top: 80%;
  bottom: 4%;
  left: 10%;
}
.video-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background: rgb(230, 83, 60);
  color: rgb(250, 250, 249);
}
.video-title {
  color: rgb(250, 250, 249);
  font-size: 24px;
  font-weight: 900;
}
.video-subtitle {
  color: rgba(239, 237, 232, 0.65);
  font-size: 16px;
  font-weight: 400;
}
.btn-download {
  background: transparent;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  color: rgb(255, 255, 255);
  padding: 16px 30px;
  font-size: 18px;
  font-weight: 600;
}
/* banner styles ends here */

/* chnage habit styles starts here */
.change-habit {
  max-width: 1044px;
  margin: 100px auto;
  text-align: center;
}
.change-habit-content {
  max-width: 671px;
  margin: 0 auto;
}
.habit-cards-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card-img {
  border-radius: 100px;
  border: 4px solid #ffffff1a;
  margin-bottom: 20px;
}
.card-title {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
/* chnage habit styles ends here */

/* run miles styles starts here */
.run-extra-mile {
  max-width: 1044px;
  margin: 100px auto;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.run-extra-mile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 130px;
}
.run-mile-content {
  width: 40%;
  padding: 30px 0px 30px 40px;
}
.run-mile-img {
  width: 43%;
  padding: 0px 20px 0px 10px;
}
.run-mile-img img {
  width: 100%;
  border-radius: 18px;
  object-fit: none;
  object-position: 66% 33%;
  zoom: 80%;
}
/* run miles styles ends here */

/* bmi calculator styles starts here */

.bmi-calculator-content {
  max-width: 671px;
  margin: 0 auto;
}
.bmi-calculator-container {
  background: rgb(34, 34, 34);
  max-width: 1440px;
  margin: 100px auto;
}
.calculator-container {
  max-width: 1044px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 45px 0px;
}
.bmi-calculator-chart {
  width: 43%;
}
.chart-title {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 10px;
}
.bmi-table {
  margin-top: 50px;
  border-collapse: collapse;
}
.table-head {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
  padding: 15px 20px;
}
.table-data td {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
}
.calculate-your-bmi {
  width: 55%;
}
.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.input,
select {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
  border-radius: 8px;
  width: 95%;
  box-sizing: border-box;
  border: none;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.1);
}
::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
}
#activity {
  width: 97.5%;
}
form .btn-primary {
  margin-top: 25px;
  width: 40%;
}

/* bmi calculator styles ends here */

/* meet our team styles starts here */

.meet-our-team {
  max-width: 1044px;
  margin: 100px auto;
}
.meet-our-team-content {
  text-align: center;
  max-width: 671px;
  margin: 0 auto;
}
.trainer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 18px;
  padding: 20px;
  gap: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 60px;
}
.trainer-content img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.trainer-img {
  opacity: 0.7;
}
.trainer-content {
  position: relative;
}
.trainer-details {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.trainer-name {
  font-size: 20px;
  font-weight: 900;
}
.trainer {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}

footer {
  background: rgba(255, 255, 255, 0.1);
}
.footer {
  max-width: 1044px;
  margin: 100px auto;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 70px 0px;
}
.footer-content {
  border: 1px solid red;
  flex: 1;
}
.get-started {
  border: 1px solid blue;
  flex: 1;
}

/* responsive style*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  body {
    padding: 0px 30px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    padding: 0px 30px;
  }
  .banner-img {
    justify-content: center;
  }
  .banner {
    flex-direction: column;
  }
  .banner-content {
    width: 100%;
    margin-bottom: 52px;
  }
  .banner-img {
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
  .habit-cards-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
  .habit-card {
    margin-top: 20px;
  }
  .run-extra-mile-container {
    gap: 10px;
    padding: 30px;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  body {
    padding: 0px 40px;
  }
  .nav-items {
    gap: 16px;
  }
  .banner {
    flex-direction: column;
    padding: 40px;
  }
  .banner-content {
    width: 100%;
  }
  .banner-img {
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
  .workout-content {
    left: 54%;
    top: 8%;
    bottom: 74%;
  }
  .video-content {
    top: 60%;
    right: 90%;
    bottom: 22%;
    left: 14%;
  }
  .habit-cards-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
  .change-habit-content .section-subtitle {
    padding: 0px 90px;
  }
  .habit-card .section-subtitle {
    padding: 0px 40px;
  }
  .run-extra-mile-container {
    gap: 60px;
    padding: 30px;
  }
  .run-mile-content {
    width: 45%;
    padding: 10px 0px 10px 20px;
  }
  .run-mile-img {
    width: 48%;
  }
  .run-mile-img img {
    width: 100%;
    zoom: 70%;
    height: 500px;
  }
  .calculator-container {
    flex-direction: column;
    padding: 30px 20px 40px 30px;
  }
  .bmi-calculator-chart {
    width: 100%;
    margin-bottom: 50px;
  }
  .calculate-your-bmi {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  body {
    padding: 0px 20px;
  }
  .nav-hamburger {
    display: block;
  }
  .nav-items {
    display: none;
  }
  .banner {
    flex-direction: column;
  }
  .banner-title {
    font-size: 36px;
    line-height: 45px;
  }
  .banner-subtitle {
    padding-right: 50px;
  }
  .banner-content {
    width: 100%;
  }
  .club {
    display: none;
  }
  .banner-img {
    justify-content: center;
    width: 100%;
    margin-top: 50px;
  }
  .banner-img img {
    max-width: 100%;
  }
  .font-miama {
    font-size: 36px;
  }
  .workout-title {
    font-size: 30px;
  }
  .workout-subtitle {
    font-size: 9px;
  }
  .workout-content {
    left: 58%;
    top: 8%;
    bottom: 78%;
  }
  .video-content {
    top: 50%;
    right: 90%;
    bottom: 50%;
    left: 4%;
  }
  .video-title {
    font-size: 18.14px;
  }
  .video-subtitle {
    font-size: 12px;
  }
  .section-title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 900;
    line-height: 120%;
  }
  .habit-cards-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    margin-top: 0px;
  }
  .change-habit-content .section-subtitle {
    padding: 0px 20px;
  }
  .habit-card {
    margin-top: 20px;
    padding: 0px 30px;
  }
  .habit-card .section-subtitle {
    padding: 0px 20px;
  }
  .run-extra-mile-container {
    flex-direction: column;
    gap: 40px;
    padding: 33px;
    margin-top: 0px;
  }
  .run-mile-content {
    display: grid;
    width: 100%;
    padding: 0px;
  }
  .run-mile-img {
    width: 100%;
    padding: 0px;
  }
  .run-mile-img img {
    zoom: 40%;
  }
  .trainer-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .bmi-calculator {
    padding: 0;
  }
  .bmi-calculator-content {
    padding: 10px 20px 0px 20px;
    margin: 0;
  }
  .bmi-calculator-content .section-subtitle {
    margin-bottom: 0;
  }
  .calculator-container {
    flex-direction: column;
    gap: 50px;
    padding: 30px 10px 40px 20px;
  }
  .bmi-calculator-chart {
    width: 100%;
  }
  .calculate-your-bmi {
    width: 100%;
  }
  form .btn-primary {
    width: 65%;
  }
  .chart-title {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .bmi-table {
    margin-top: 20px;
  }
  .bmi-calculator-container {
    margin: 30px auto;
  }
}
